#description {
    margin-top: 10%;
    opacity: 0;
    animation: fade-in 2s ease forwards;
    text-align: center;
    color: #92aa83;
    -webkit-text-stroke-width: 1px;
    -webkit-text-stroke-color: #b0bea9;
    @media only screen and (max-device-width: 750px) {
        margin-top: 40%;
    }
}

#name {
    animation: fade-in 4s ease forwards;
    color: #8c9c87;
}

#duck {
    animation: fade-in 6s ease forwards;
    width: 142px;
    height: 142px;
    @media only screen and (max-device-width: 750px) {
        max-width: 10%;
    }
    height: auto;
    object-fit: cover;
}

@keyframes fade-in {
    0% {
        opacity: 0;
    }

    100% {
        opacity: 1;
    }
}
/* Additional CSS rules can be added below */
